@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Source+Sans+3:wght@600&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(180deg, #192653 0%, #131d41 100%);
  background-attachment: fixed;
  padding-left: 9%;
  padding-right: 9%;
  nav {
    font-family: "Source Sans 3", sans-serif;
  }
}

@mixin text-nav($size, $opacity: 1) {
  color: white;
  font-size: $size;
  font-weight: 600;
  opacity: $opacity;
  word-wrap: break-word;
  &:hover,
  &:focus {
    color: white;
    opacity: 1;
  }
}

@mixin signup {
  padding-left: 25px;
  padding-right: 25px;
  background-color: #2f3b63;
  border-radius: 8px;
  border: 0;
  opacity: 0.8;
  &:hover {
    opacity: 1;
    background-color: #2f3b63;
  }
}

@mixin text-header($size, $line-height, $color) {
  color: $color;
  font-size: $size;
  font-style: normal;
  font-weight: 400;
  line-height: $line-height;
}

@mixin btn-header {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: 0;
  padding: 12px 17px;
  border-radius: 100px;
  background: #ff5c00;
  box-shadow: 0px 15px 30px 0px rgba(0, 26, 255, 0.2);
  &:hover {
    opacity: 0.8;
  }
}

@mixin link-header {
  color: #ff5c00;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration-line: underline;
  &:hover {
    opacity: 0.8;
  }
}

@mixin text-main($size, $font-weight, $color) {
  color: $color;
  font-size: $size;
  font-style: normal;
  font-weight: $font-weight;
  line-height: 30px;
}
