@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Source+Sans+3:wght@600&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(180deg, #192653 0%, #131d41 100%);
  background-attachment: fixed;
  padding-left: 10%;
  padding-right: 10%;
  nav {
    font-family: "Source Sans 3", sans-serif;
  }
}

@mixin text-nav($size, $opacity: 1) {
  color: white;
  font-size: $size;
  font-weight: 600;
  opacity: $opacity;
  word-wrap: break-word;
  &:hover,
  &:focus {
    color: white;
    opacity: 1;
  }
}

@mixin signup {
  padding-left: 25px;
  padding-right: 25px;
  background-color: #2f3b63;
  border-radius: 8px;
  border: 0;
  opacity: 0.8;
  &:hover {
    opacity: 1;
    background-color: #2f3b63;
  }
}
