@use "../custom" as *;
header {
  margin-top: 100px;
  .title {
    margin-top: 50px;
    h1 {
      @include text-header(2.5rem, normal, white);
    }
    p {
      margin-top: 15px;
      @include text-header(1rem, 32px, rgba(255, 255, 255, 0.6));
    }

    .link {
      margin-top: 48px;
      .btn-header {
        @include btn-header;
      }
      .link-header {
        @include link-header;
      }
    }
  }
  .card-img {
    width: 550px;
    img {
      width: 100%;
    }
  }
}

@media (max-width: 1178px) {
  header {
    .row {
      display: grid;
      grid-template-columns: 1fr;
      .card-img {
        margin-top: 30px;
        width: 100%;
        img {
          width: 90%;
        }
      }
    }
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  header {
    margin-top: 75px;
    .title {
      h1 {
        font-size: 2rem;
      }
      p,
      .link .link-header {
        font-size: 0.8rem;
        line-height: 28px;
      }
      .link {
        .btn-header {
          padding: 8px 14px;
          font-size: 0.8rem;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  header {
    margin-top: 50px;
    .title {
      h1 {
        font-size: 1.5rem;
      }
      p,
      .link .link-header {
        font-size: 0.7rem;
        line-height: 28px;
      }
      .link {
        .btn-header {
          padding: 6px 10px;
          font-size: 0.7rem;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  header {
    margin-top: 25px;
    .title {
      h1 {
        font-size: 1.25rem;
      }
      p,
      .link .link-header {
        font-size: 0.6rem;
        line-height: 20px;
      }
    }
    .link {
      .btn-header {
        padding: 4px 7px;
        font-size: 0.6rem;
      }
    }
  }
}
